<ion-header>
  <ion-toolbar>
    <ion-title>{{ data }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Condición para iniciar el quizz -->
  <div *ngIf="data === 'Iniciar Quizz'">
    <ion-card *ngFor="let question of questionList; let i = index">
      <ion-card-header>
        <ion-card-title>{{ i + 1 }}. {{ question.enunciado }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group (ionChange)="selectAnswer(i, $event.detail.value)">
        <ion-item>
            <ion-label>{{ question.opcion1 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ question.opcion2 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ question.opcion3 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ question.opcion4 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion4"></ion-radio>
          </ion-item>
        </ion-radio-group>        
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="submitQuiz()">Enviar Quiz</ion-button>
  </div>

  <!-- Condición para agregar preguntas -->
  <div *ngIf="data === 'Agregar Pregunta'">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo">Crear Pregunta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Enunciado</ion-label>
          <ion-input [(ngModel)]="newQuestion.enunciado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Opción 1</ion-label>
          <ion-input [(ngModel)]="newQuestion.opcion1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Opción 2</ion-label>
          <ion-input [(ngModel)]="newQuestion.opcion2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Opción 3</ion-label>
          <ion-input [(ngModel)]="newQuestion.opcion3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Opción 4</ion-label>
          <ion-input [(ngModel)]="newQuestion.opcion4"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Respuesta Correcta</ion-label>
          <ion-input [(ngModel)]="newQuestion.respuesta"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="addQuestion()">Agregar Pregunta</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
