<ion-header>
  <ion-toolbar>
    <ion-title>{{ data }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data === 'Crear Pregunta'">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo">Question 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Formulario para crear preguntas -->
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="data === 'Iniciar Quizz'">
    <ion-card *ngFor="let question of questionList; let i = index">
      <ion-card-header>
        <ion-card-title>{{ i + 1 }}. {{ question.enunciado }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group [(ngModel)]="selectedAnswers[i]">
          <ion-item>
            <ion-label>{{ question.opcion1 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ question.opcion2 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ question.opcion3 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ question.opcion4 }}</ion-label>
            <ion-radio slot="start" [value]="question.opcion4"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="submitQuiz()">Enviar Quiz</ion-button>
  </div>
</ion-content>