<ion-header>
  <ion-toolbar>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Quizzis</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-align-items-center ion-justify-content-center" style="height: 100%; display: flex; flex-direction: column;">
    <h1 style="margin-bottom: 20px; font-size: 2rem;">QuizziApp</h1>
    <img class="logo" src="assets/images/logo.gif" alt="Descripción del GIF">
    <p style="margin: 40px; text-align: center;">Quizzi es una aplicación que genera de forma aleatoria 5 preguntas de cultura general, ¡buena suerte!</p>

    <ion-button expand="block" class="custom-button" style="margin-bottom: 10px; width: 80%;" (click)="openModal('Agregar Pregunta')">
      <ion-icon name="calculator-outline" slot="start"></ion-icon>
      <span class="button-text">Agregar Pregunta</span>
    </ion-button>

    <ion-button expand="block" class="custom-button" style="width: 80%;" (click)="openModal('Iniciar Quizz')">
      <ion-icon name="calculator-outline" slot="start"></ion-icon>
      <span class="button-text">Iniciar Quizzi</span>
    </ion-button>
  </div>
</ion-content>
