h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .logo {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  ion-toolbar {
    --background: #761973; /* Fondo oscuro */
    --color: #fff; /* Color del texto */
  }
  
  ion-content {
    --background: #510941; /* Fondo claro */
  }