ion-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100%; 
  }
  h1{
    font-size: 40px;
    font-weight: bold;
  }
  ion-button {
    margin-top: 20px;
  }

  ion-accordion {
    margin: 0 auto;
  }
  
  ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
  
    margin: 16px auto;
  }
  
  ion-accordion.accordion-collapsing ion-item[slot='header'],
  ion-accordion.accordion-collapsed ion-item[slot='header'] {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
  }
  
  ion-accordion.accordion-expanding ion-item[slot='header'],
  ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }

  .custom-button {
    --background: linear-gradient(45deg, #42a5f5, #478ed1);
    --color: white;
    --border-radius: 10px;
    --padding-start: 16px;
    --padding-end: 16px;
    font-weight: bold;
  }
  
  ion-item {
    --background: #2a2a2a;
    --border-radius: 10px;
    margin-bottom: 8px;
    padding: 16px;
  }
  
  ion-label {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .button-text {
    text-align: left;
  }